<div class="body">
  <div class="login">
    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <img src="../../../assets/images/user.png" alt="User" width="50%">
      <h1>Sign Up</h1>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput autocomplete="off" formControlName="email">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput autocomplete="off" formControlName="password">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>FirstName</mat-label>
        <input  matInput autocomplete="off" formControlName="name">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>LastName</mat-label>
        <input  matInput autocomplete="off" formControlName="lastname">
      </mat-form-field>

      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Username</mat-label>
        <input  matInput autocomplete="off" formControlName="username">
      </mat-form-field>
      <br>
      <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="registerForm.invalid">Registrar</button>
    </form>
  </div>
</div>
